*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
input, .login_btn, .register_btn {
    border: none;
    outline: none;
    background: none;
}
.cont {
    overflow: hidden;
    position: relative;
    width: 900px;
    height: 600px;
    margin: 0 auto 100px;
    background: #fff;
}
.form {
    position: relative;
    width: 640px;
    height: 100%;
    transition: -webkit-transform 1s ease-in-out;
    -webkit-transition: -webkit-transform 1s ease-in-out;
}
.vcenter {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.form-title {
    font-size: 26px;
    margin-bottom: 30px;
}
.sub-cont {
    overflow: hidden;
    position: absolute;
    left: 640px;
    top: 0;
    width: 900px;
    height: 100%;
    padding-left: 260px;
    background: #fff;
    transition: -webkit-transform 1s ease-in-out;
    -webkit-transition: -webkit-transform 1s ease-in-out;
}
.cont.s--signup .sub-cont {
    -webkit-transform: translate3d(-640px, 0, 0);
    transform: translate3d(-640px, 0, 0);
}
.login_btn, .register_btn {
    display: block;
    margin: 0 auto;
    width: 260px;
    height: 36px;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}
.img {
    overflow: hidden;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 260px;
    height: 100%;
    padding-top: 360px;
}
.img:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 900px;
    height: 100%;
    background-image: url("../image/login-bg.jpg");
    background-size: cover;
    transition: -webkit-transform 1s ease-in-out;
    -webkit-transition: -webkit-transform 1s ease-in-out;
}
.img:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}
.cont.s--signup .img:before {
    -webkit-transform: translate3d(640px, 0, 0);
    transform: translate3d(640px, 0, 0);
}
.img__text {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    padding: 0 20px;
    text-align: center;
    color: #fff;
    transition: -webkit-transform 1s ease-in-out;
    -webkit-transition: -webkit-transform 1s ease-in-out;
}
.cont.s--signup .img__text.m--up {
    -webkit-transform: translateX(520px);
    transform: translateX(520px);
}
.img__text.m--in {
    -webkit-transform: translateX(-520px);
    transform: translateX(-520px);
}
.cont.s--signup .img__text.m--in {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
.img__btn {
    overflow: hidden;
    z-index: 2;
    position: relative;
    width: 100px;
    height: 36px;
    margin: 0 auto;
    background: transparent;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
}
.img__btn:after {
    content: '';
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    border-radius: 30px;
}
.img__btn span {
    position: absolute;
    left: 0;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: -webkit-transform 1s;
    -webkit-transition: -webkit-transform 1s;
}

span.m--in, span.m--up {
    font-size: 16px;
}

.img__btn span.m--in {
    -webkit-transform: translateY(-72px);
    transform: translateY(-72px);
}
.cont.s--signup .img__btn span.m--in {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.cont.s--signup .img__btn span.m--up {
    -webkit-transform: translateY(72px);
    transform: translateY(72px);
}
label {
    display: block;
    width: 260px;
    margin: 25px auto 0;
    text-align: center;
}
span {
    font-size: 12px;
    color: #cfcfcf;
    text-transform: uppercase;
}
#login_message_text, #register_message_text {
    width: 50%;
    margin: 5px auto;
}
.form-input {
    display: block;
    width: 260px;
    margin: 5px auto 0 auto;
    padding-bottom: 5px;
    font-size: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    text-align: center;
}
.login_btn, .register_btn {
    margin-top: 40px;
    margin-bottom: 20px;
    background: #d4af7a;
}
.fb-btn span {
    font-weight: bold;
    color: #455a81;
}
.sign-in {
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.cont.s--signup .sign-in {
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transform: translate3d(640px, 0, 0);
    transform: translate3d(640px, 0, 0);
}
.sign-up {
    -webkit-transform: translate3d(-900px, 0, 0);
    transform: translate3d(-900px, 0, 0);
}
.cont.s--signup .sign-up {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
